@use "./../../../../public/styles/forms-pages.scss";

.importante{
    background-color: green;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    padding: 8px 12px;
    border-bottom: 1px solid #ddd;
}

th {
    text-align: left;
}

tbody tr:hover {
    background-color: #f9f9f9;
}
