
<h1>contactos</h1>
<div class="search-conteiner">
  <mat-icon class="search-icon"><search></search></mat-icon>
  <input
    type="text"
    placeholder=" Buscar contacto..."
    (input)="onSearch($event)"
    class="search-bar"
  />
</div>
<table>
  <thead>
    <th>Nombre</th>
    <th>Telefono</th>
    <th>Email</th>
    <th>Grupos</th>
    <th>Acciones</th>
  </thead>

  <tbody>
    @for (contacto of contactsService.contacts; track $index) {
    <tr>
      <td>
        {{ contacto.firstName }}
        @if (contacto.isFavorite) {
            <p class="material-icons">star</p>
          }
      </td>
      <td>
        {{ contacto.number }}
      </td>
      <td>
        {{ contacto.email }}
      </td>
      <td>

      </td>
      <td class="acciones">
          <mat-icon class="edit" (click)="editContact(contacto)">edit</mat-icon>
          <mat-icon class="delete" (click)="deleteContact(contacto)">delete</mat-icon>
      </td>
    </tr>
    }
  </tbody>
</table>



<!-- @for (contacto of contactsService.contacts; track $index) {
<a [routerLink]="['/contacts', contacto.id]">
  <app-contact-list-item [contacto]="contacto" [index]="$index" />
</a>
} @empty {
<p>No hay contactos, <a routerLink="/contacts/new">agregá uno</a>.</p>
} -->
<a routerLink="/contacts/new">Nuevo contacto +</a>